<h1>Fitness Tracker</h1>
<h2>CS 290 - Database Interactions and UI - James Pool</h2>
<form>
	<fieldset>
		<legend>Add a workout: </legend>
		<label for="inputName">Exercise Name: </label>
		<input type="text" id="inputName" placeholder="(enter exercise)"></input></br>
		<label for="inputReps">Reps: </label>
		<input type="number" id="inputReps" min="0" value="0"></input></br>
		<label for="inputWeight">Weight: </label>
		<input type="number" id="inputWeight" min="0" value="0"></input>
		<select name="inputWeightType" >
			<option value=1>lbs</option>
			<option value=0>kg</option>
		</select></br>
		<label for="inputDate">Date: </label>
		<input type="date" id="inputDate"></input></br>
		<input type="submit" id="inputButton" value="Submit Form"></input>
	</fieldset>
</form>

<fieldset>
	<legend>Fitness Tracker List</legend>
	<table id="dataTable">
			<thead>
			<tr>
				<th>ID</th>
				<th>Exercise Name</th>
				<th>Reps</th>
				<th>Weight</th>
				<th>Date</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{{#each rows}}
			<tr>
				<td>{{this.id}}</td>
				<td>{{this.name}}</td>
				<td>{{this.reps}}</td>
				<td>
					{{this.weight}}
					{{#if this.lbs}}
						lbs
					{{else}}
						kg
					{{/if}}
				</td>
				<td>{{this.date}}</td>
				<td>  <!-- Update Button -->
					<input type="button" value="Update"></input>
				</td>
				<td>  <!-- Delete Button -->
					<input type="button" value="Delete" onclick="deleteRow('dataTable',this,this.id)"></input>
					<!-- Still need to update SQL -->
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</fieldset>
<h1>MySQL Results:</h1>
<p>{{results}}</p>
<span id="testSpan"></span>