<form>
	<fieldset>
		<legend>Update a workout: </legend>
		<input type="hidden" id="inputID" value="{{id}}"></input>
		<label for="inputName">Exercise Name: </label>
		<input type="text" id="inputName" value="{{rows.name}}"></input></br>
		<label for="inputReps">Reps: </label>
		<input type="number" id="inputReps" min="0" value="{{rows.reps}}"></input></br>
		<label for="inputWeight">Weight: </label>
		<input type="number" id="inputWeight" min="0" value="{{rows.weight}}"></input>

		<label for="inputDate">Date: </label>
		<input type="date" id="inputDate" value="{{rows.date}}"></input></br>
		<input type="submit" id="inputButton" value="Update Form"></input>
	</fieldset>
</form>