<form>
	<fieldset>
		<legend>Update a workout: </legend>
		<input type="hidden" id="inputID" value="{{id}}"></input>
		<label for="inputName">Exercise Name: </label>
		<input type="text" id="inputName" value="{{name}}"></input></br>
		<label for="inputReps">Reps: </label>
		<input type="number" id="inputReps" min="0" value="{{reps}}"></input></br>
		<label for="inputWeight">Weight: </label>
		<input type="number" id="inputWeight" min="0" value="{{weight}}"></input>
		<select id="inputWeightType" >
		{{#if lbs}}
			<option value=0>kg</option>
			<option value=1 selected>lbs</option>
		{{else}}
			<option value=0 selected>kg</option>
			<option value=1>lbs</option>
		{{/if}}
		</select></br>
		<label for="inputDate">Date: </label>
		<input type="date" id="inputDate" value="{{dateFormat}}"></input></br>
		<input type="submit" id="inputButton" value="Update Form"></input>
	</fieldset>
</form>